@import "variables";

.element-m-spacing-h{
  margin: 0 $DEFAULT_ELEMENT_SPACING;
}

.element-m-spacing-v{
  margin: $DEFAULT_ELEMENT_SPACING 0;
}

.element-p-spacing-h{
  padding: 0 $DEFAULT_ELEMENT_SPACING;
}

.element-p-spacing-v{
  padding: $DEFAULT_ELEMENT_SPACING 0;
}
